[Desktop Entry]
Version=1.0
Name=Todoist
Comment=Todoist productivity app
Exec=/<path>/todoist
Path=/<path>
Icon=/<path>/resources/icons/icon.png
Terminal=false
Type=Application
Categories=Utility;Productivity;