pkgbase = todoist-electron
	pkgdesc = Electron wrapper for todoist web client.
	pkgver = 1.19.0
	pkgrel = 2
	url = https://github.com/KryDos/todoist-linux
	install = Todoist.install
	arch = x86_64
	license = ISC
	depends = c-ares
	depends = ffmpeg
	depends = gtk3
	depends = http-parser
	depends = libevent
	depends = libvpx
	depends = libxslt
	depends = libxss
	depends = minizip
	depends = nss
	depends = re2
	depends = snappy
	depends = libnotify
	depends = libappindicator-gtk2
	depends = libappindicator-gtk3
	provides = todoist
	conflicts = todoist
	options = !strip
	options = !emptydirs
	source = https://github.com/KryDos/todoist-linux/releases/download/1.19/Todoist-1.19.0.pacman
	sha256sums = f7c004690dba20051c99d314df0e392aefa1c09776ab207e4fa003701d1bec80

pkgname = todoist-electron

